<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shashank.iccca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splashscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".Picone"
            android:label="Dr. Jaime Lloret" />
        <activity
            android:name=".Pictwo"
            android:label="Dr. Janet Light" />
        <activity
            android:name=".Picthree"
            android:label="Prof. Radu Prodan" />
        <activity
            android:name=".Picfour"
            android:label="Dr. Sneha Anand" />
        <activity
            android:name=".Picfive"
            android:label="Dr. Suneel Whattal" />
        <activity
            android:name=".Picsix"
            android:label= "Prof. Dr. Subarna Shakya"/>
        <activity
            android:name=".Picseven"
            android:label="Dr Saif" />
        <activity
            android:name=".Piceight"
            android:label="Prof. P.K.Garg" />
        <activity
            android:name=".Tab"
            android:label="workshop" >
        </activity>
        <activity
            android:name=".Call_for_paper"
            android:label="Call_for_papers" />
        <activity
            android:name=".Contact_us"
            android:label="Contact_us" />
        <activity
            android:name=".Faq"
            android:label="Faq" />
        <activity
            android:name=".Important_links"
            android:label="Important_links" />
        <activity
            android:name=".Sponcer"
            android:label="Sponcer" />
        <activity
            android:name=".Registration"
            android:label="Registration" />
        <activity
            android:name=".Schedule"
            android:label="Schedule" >

        </activity>
        <activity android:name=".Callpaper"></activity>
    </application>

</manifest>